CONFIG_IDF_TARGET="esp32s3"

CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y

CONFIG_LV_USE_USER_DATA=y
CONFIG_LV_USE_CHART=y
CONFIG_LV_USE_PERF_MONITOR=y
CONFIG_LV_MEM_SIZE_KILOBYTES=128
CONFIG_LV_USE_DEMO_WIDGETS=y
CONFIG_LV_DEMO_WIDGETS_SLIDESHOW=y
CONFIG_LV_USE_DEMO_KEYPAD_AND_ENCODER=y
CONFIG_LV_USE_DEMO_BENCHMARK=y
CONFIG_LV_USE_DEMO_STRESS=y
CONFIG_LV_USE_DEMO_MUSIC=y
CONFIG_LV_FONT_MONTSERRAT_10=y
CONFIG_LV_FONT_MONTSERRAT_12=y
CONFIG_LV_FONT_MONTSERRAT_14=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_18=y
CONFIG_LV_FONT_MONTSERRAT_22=y
CONFIG_LV_FONT_MONTSERRAT_28=y

CONFIG_LV_USE_FS_POSIX=y
CONFIG_LV_FS_POSIX_LETTER=80
CONFIG_LV_USE_PNG=y
CONFIG_LV_USE_BMP=y
CONFIG_LV_USE_SJPG=y
CONFIG_LV_USE_QRCODE=y

CONFIG_BT_ENABLED=y
CONFIG_BT_BLE_50_FEATURES_SUPPORTED=y
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y

CONFIG_I2C_SUPPRESS_DEPRECATE_WARN=y

CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
CONFIG_ESP32S3_DATA_CACHE_LINE_SIZE=64

CONFIG_FATFS_LFN_STACK=y
CONFIG_FATFS_MAX_LFN=255
CONFIG_FATFS_API_ENCODING_ANSI_OEM=y

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y

CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Badge Page Selection
CONFIG_PAGE_CARD=y
CONFIG_PAGE_CALENDAR=y
CONFIG_PAGE_MILESTONE=y
CONFIG_PAGE_HISTORY=y
CONFIG_PAGE_DAQ=n
CONFIG_PAGE_GALLERY=y
CONFIG_PAGE_IMPACT=n
CONFIG_PAGE_IDENTITY=n
CONFIG_PAGE_GAME=n
CONFIG_PAGE_2048=n
CONFIG_PAGE_PLAYER=n
CONFIG_PAGE_MATCH3=n
CONFIG_PAGE_CONFIG=y



#CONFIG_FREERTOS_HZ=1000

#CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
#CONFIG_ESPTOOLPY_FLASHFREQ_120M=y
#CONFIG_SPIRAM_MODE_OCT=y

#CONFIG_IDF_EXPERIMENTAL_FEATURES=y
#CONFIG_SPIRAM_SPEED_120M=y

#CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
#CONFIG_SPIRAM_RODATA=y
#CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
#CONFIG_COMPILER_OPTIMIZATION_PERF=y